<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164425507016-qd877kdnklehpd1tfu5i5676063splm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164425507016-qd877kdnklehpd1tfu5i5676063splm7</string>
	<key>API_KEY</key>
	<string>AIzaSyCx177kprNXgZC-WF8Os8dfHHxXbB3n_ls</string>
	<key>GCM_SENDER_ID</key>
	<string>164425507016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mingu-king.CumtomLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>customlogindemo-e10c2</string>
	<key>STORAGE_BUCKET</key>
	<string>customlogindemo-e10c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164425507016:ios:58b754a090c66e1b8b45fd</string>
	<key>DATABASE_URL</key>
	<string>https://customlogindemo-e10c2.firebaseio.com</string>
</dict>
</plist>